<body>
  <div class="container">
    <div class="custom-container col-lg-6 offset-lg-6">
      <div class="title mb-2">
        <h4>STUDENTS LIST</h4>
      </div>
      <table class = "table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">DNI</th>
            <th scope="col">Email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studentList" class="table-dark">
            <td scope="row">{{student.id}}</td>
            <td scope="row">{{student.firstName}}</td>
            <td scope="row">{{student.lastName}}</td>
            <td scope="row">{{student.dni}}</td>
            <td scope="row">{{student.email}}</td>
            <td><button type="button" class="btn btn-outline-warning btn-sm">Edit</button></td>
            <td><button type="button" class="btn btn-outline-danger btn-sm">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <div class="row mt-2 text-center">
        <div class="col-lg-6">
          <button type="button" class="btn btn-dark" (click)="getStudents()">Refresh</button>
        </div>
        <div class="col-lg-6">
          <button type="button" class="btn btn btn-success" (click)="openForm()">Add student</button>
        </div>
      </div>
    </div>

    <br>

    <div>
      <div style="margin-top:4%" *ngIf="formVisible" class="form-container">
        <div class="card bg-dark text-white">
          <form style="margin: 3%">
            <div class="form-group">
              <label>ID</label>
              <div class="custom-input"></div>
            </div>
            <div class="form-group custom-input">
              <label>First name</label>
              <input type="text" [formControl]="firstName" class="form-control" placeholder="Enter first name">
              <div class="alert alert-danger mt-2" [hidden]="firstName.valid || firstName.pristine">Required field</div>
            </div>
            <div class="form-group custom-input">
              <label>Last name</label>
              <input type="text" [formControl]="lastName" class="form-control" placeholder="Enter last name">
              <div class="alert alert-danger mt-2" [hidden]="lastName.valid || lastName.pristine">Required field</div>
            </div>
            <div class="form-group custom-input">
              <label>DNI</label>
              <input type="number" [formControl]="dni" class="form-control" placeholder="Enter DNI">
              <div class="alert alert-danger mt-2" [hidden]="dni.valid || dni.pristine">Required field</div>
            </div>
            <div class="form-group custom-input">
              <label>Email</label>
              <input type="email" [formControl]="email" class="form-control" placeholder="Enter email">
              <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
                <span *ngIf="email.errors?.['required']">Required field</span>
                <span *ngIf="email.errors?.['email']">Invalid email</span>
              </div>
            </div>
            <button style="margin-top: 2%;" type="submit" class="btn btn-primary" (click)="addStudent()">Submit</button>
            <button style="margin-top: 2%; float:right" type="submit" class="btn btn-danger" (click)="cancelForm()">Cancel</button>
          </form>
        </div>
      </div>
    </div>

    <div>
      <div style="margin-top:4%" *ngIf="formVisible" class="form-container">
        <div class="card bg-dark text-white">
          <form style="margin: 3%">
            <div class="form-group">
              <label>ID</label>
              <div class="custom-input"></div>
            </div>
            <div class="form-group custom-input">
              <label>First name</label>
              <input type="text" [formControl]="firstName" [(ngModel)]="firstName" class="form-control" placeholder="Enter first name">
              <div class="alert alert-danger mt-2" [hidden]="firstName.valid || firstName.pristine">Required field</div>
            </div>
            <div class="form-group custom-input">
              <label>Last name</label>
              <input type="text" [formControl]="lastName" [(ngModel)]="lastName" class="form-control" placeholder="Enter last name">
              <div class="alert alert-danger mt-2" [hidden]="lastName.valid || lastName.pristine">Required field</div>
            </div>
            <div class="form-group custom-input">
              <label>DNI</label>
              <input type="number" [formControl]="dni" [(ngModel)]="dni" class="form-control" placeholder="Enter DNI">
              <div class="alert alert-danger mt-2" [hidden]="dni.valid || dni.pristine">Required field</div>
            </div>
            <div class="form-group custom-input">
              <label>Email</label>
              <input type="email" [formControl]="email" [(ngModel)]="email" class="form-control" placeholder="Enter email">
              <div class="alert alert-danger mt-2" [hidden]="email.valid || email.pristine">
                <span *ngIf="email.errors?.['required']">Required field</span>
                <span *ngIf="email.errors?.['email']">Invalid email</span>
              </div>
            </div>
            <button style="margin-top: 2%;" type="submit" class="btn btn-primary" (click)="addStudent()">Submit</button>
            <button style="margin-top: 2%; float:right" type="submit" class="btn btn-danger" (click)="cancelForm()">Cancel</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</body>
