<body>
  <div class="custom-container">
    <div class="table-container">
      <div class="title mb-2">
        <h4>STUDENTS LIST</h4>
      </div>
      <table class = "table table-dark">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">DNI</th>
            <th scope="col">Email</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of studentList" class="table-dark">
            <td scope="row">{{student.id}}</td>
            <td scope="row">{{student.firstName}}</td>
            <td scope="row">{{student.lastName}}</td>
            <td scope="row">{{student.dni}}</td>
            <td scope="row">{{student.email}}</td>
            <td><button type="button" class="btn btn-outline-warning btn-sm" (click)="openUpdateForm()" (click)="selectStudent(student)">Edit</button></td>
            <td><button type="button" class="btn btn-outline-danger btn-sm" (click)="deleteStudent(student)">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <div class="row mt-2 text-center">
        <div class="col-lg-6">
          <button type="button" class="btn btn-dark" (click)="getStudents()">Refresh</button>
        </div>
        <div class="col-lg-6">
          <button type="button" class="btn btn btn-success" (click)="openAddForm()">Add student</button>
        </div>
      </div>
    </div>

    <br>

    <div class="form-container">
      <div *ngIf="formStatus === 1" >
        <div class="card bg-dark text-white">
          <h4>ADD STUDENT</h4>
          <form style="margin: 3%">
            <div class="input">
              <label>ID</label><br>
              <input type="text" name="toUpdateId" [(ngModel)]="id"  readonly>
            </div>
            <div class="input">
              <label>First name</label><br>
              <input type="text" name="firstName" [(ngModel)]="firstName" placeholder="Enter first name">
            </div>
            <div class="input">
              <label>Last name</label><br>
              <input type="text" name="lastName" [(ngModel)]="lastName" placeholder="Enter last name">
            </div>
            <div class="input">
              <label>DNI</label><br>
              <input type="text" name="dni" [(ngModel)]="dni" placeholder="Enter DNI">
            </div>
            <div class="input">
              <label>Email</label><br>
              <input type="email" name="email" [(ngModel)]="email" placeholder="Enter email">
              </div>
            <button style="margin-top: 2%;" type="submit" class="btn btn-primary" (click)="addStudent()">Submit</button>
            <button style="margin-top: 2%; float:right" type="submit" class="btn btn-danger" (click)="cancelForm()">Cancel</button>
          </form>
        </div>
      </div>
    </div>

    <div class="form-container">
      <div *ngIf="formStatus === 2" >
        <div class="card bg-dark text-white">
          <h4>UPDATE STUDENT</h4>
          <form style="margin: 3%">
            <div class="input">
              <label>ID</label><br>
              <input type="text" name="toUpdateId" [(ngModel)]="toUpdateId"  readonly>
            </div>
            <div class="input">
              <label>First name</label><br>
              <input type="text" name="toUpdateFirstName" [(ngModel)]="toUpdateFirstName" placeholder="Enter first name">
            </div>
            <div class="input">
              <label>Last name</label><br>
              <input type="text" name="toUpdateLastName" [(ngModel)]="toUpdateLastName" placeholder="Enter last name">
            </div>
            <div class="input">
              <label>DNI</label><br>
              <input type="text" name="toUpdateDni" [(ngModel)]="toUpdateDni" placeholder="Enter DNI">
            </div>
            <div class="input">
              <label>Email</label><br>
              <input type="email" name="toUpdateEmail" [(ngModel)]="toUpdateEmail" placeholder="Enter email">
              </div>
            <button style="margin-top: 2%;" type="submit" class="btn btn-primary" (click)="updateStudent()">Submit</button>
            <button style="margin-top: 2%; float:right" type="submit" class="btn btn-danger" (click)="cancelForm()">Cancel</button>
          </form>
        </div>
      </div>
    </div>

  </div>
</body>
