@import "~bootstrap/dist/css/bootstrap.css";
.custom-container {
  width: 100%;
  max-width: 800px !important;
  margin: 0 auto !important;
}
.form-container {
  width: 100%;
  max-width: 800px !important;
  margin: 0 auto !important;
}
tr.selected {
  background-color: #ccc;
}
